@charset "UTF-8";
@font-face {
  font-family: Tabel;
  src: url(../assets/ttf/TebelSans-Regular.ttf) format("truetype");
  font-weight: normal;
}
.navbar-brand {
  color: white;
  margin-left: auto;
  font-size: 15px;
  margin-bottom: 0;
  font-family: Plus Jakarta Sans;
  text-transform: uppercase;
  color: #f7f6f6;
  filter: drop-shadow(1px 2px 5px #101939);
}

.navbar-brand:hover {
  color: white;
}

.navbar-toggler {
  background-color: rgb(248, 244, 244);
  border-color: white;
  margin-left: 20px;
  padding: 5px;
}

.navbar-toggler-icon {
  width: 1em;
}

.nav-link {
  color: white;
}

.navbar-nav .nav-link.active {
  color: orange;
  text-decoration: underline;
}

/* HEADER */
.header {
  position: sticky;
  background: linear-gradient(90deg, rgb(5, 60, 149) 42%, rgb(71, 129, 230) 71%);
}

.header__container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
}

.header__container-left {
  margin-left: 10px;
}

.header__container-logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: -5px 0px rgb(6, 94, 162);
  object-fit: cover;
  filter: drop-shadow(1px 1px 4px #56a5c9);
}

.header__container-right {
  display: flex;
  flex-direction: column;
}

.header__container-right h1 {
  display: none;
}

.header__container-right .header__container-navbar {
  display: none;
}

.header__container-navbar-mobile {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

@media (min-width: 768px) {
  /* header index */
  .header__container {
    justify-content: space-between;
  }
  .header__container-logo img {
    width: 100px;
    height: 100px;
  }
  .header__container-right {
    margin-top: 10px;
  }
  .header__container-right h1 {
    display: block;
    font-size: 40px;
    padding-left: 40px;
    margin-bottom: 0;
    font-family: Plus Jakarta Sans;
    text-transform: uppercase;
    color: #f7f6f6;
    filter: drop-shadow(1px 2px 5px #101939);
  }
  .header__container-right .header__container-navbar {
    display: flex;
    margin: 10px auto;
    text-transform: uppercase;
    flex-wrap: nowrap;
  }
  .header__container-right .header__container-navbar ul {
    display: flex;
  }
  .header__container-right .header__container-navbar li a {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: #f7f6f6;
  }
  .header__container-right li {
    margin-right: 10px;
  }
  .header__container-right .header__container-navbar ul li a:hover,
  .header__container-right .header__container-navbar ul li a:active {
    color: orange;
    background-color: #0844a4;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }
}
@media (min-width: 768px) {
  .header__container-navbar-mobile {
    display: none;
  }
}
/* FOOTER INDEX*/
footer {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 12px;
}

.footer__index small {
  color: #0844a4;
}

/*FOOTER ABOUT */
.footer__about {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 20px;
}

.footer__container-about small {
  color: #0844a4;
  padding: 10px;
  font-size: 11px;
}

/*FOOTER ADVANTAGES */
.footer__advantages {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 20px;
}

.footer__container-advantages small {
  color: #0844a4;
  padding: 10px;
  font-size: 11px;
}

/* FOOTER SUBSCRIPTION */
.subscription__footer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: #0844a4;
}

.subscription__footer small {
  font-size: 11px;
}

/* FOOTER CONTACT */
.contact__footer {
  display: flex;
  justify-content: center;
  font-size: 11px;
  color: #0844a4;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  /* FOOTER INDEX*/
  .footer__index {
    flex-direction: row;
    justify-content: space-around;
  }
  /* FOOTER ABOUT */
  .footer__about {
    justify-content: center;
    margin-top: 10px;
  }
  .footer__container-about small {
    font-size: 12px;
  }
  /* FOOTER ADVANTAGES */
  .footer__advantages {
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer__container-advantages small {
    font-size: 12px;
  } /* FOOTER SUBSCRIPTION */
  .subscription__footer {
    max-width: 1200px;
    justify-content: center;
    height: 50px;
    margin-bottom: 0px;
  }
  .subscription__footer small {
    font-size: 12px;
  } /* FOOTER CONTACT */
  .contact__footer {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  /* FOOTER INDEX */
  .footer__index {
    max-width: 1200px;
    justify-content: space-between;
  }
  .footer__index small {
    padding-right: 10px;
  }
  /* FOOTER CONTACT */
  .contact__footer {
    font-size: 12px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Plus Jakarta Sans;
}

a {
  text-decoration: none;
  color: #f7f6f6;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.5;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

/* BUTTONS INDEX*/
.buton__container-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buton__container-index button:hover {
  color: rgb(242, 237, 236);
  font-size: 16px;
  background-color: rgb(10, 133, 228);
}

.buton__container-index button {
  font-size: 16px;
  margin: 5px 5px;
  padding: 15px;
  border: rgba(160, 228, 203, 0.8039215686);
  font-family: Plus Jakarta Sans;
  color: #f7f6f6;
  background-color: #0844a4;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(181, 180, 180);
}

/* BUTTONS ABOUT */
.main__container-about--top-left button,
.main__container-about--down-right button {
  width: 80%;
  margin: 5px 25px;
  padding: 5px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  color: #f7f6f6;
  background-color: #0844a4;
  border: #0844a4;
  border-radius: 50px;
  box-shadow: 10px 5px 5px rgb(181, 180, 180);
}

.main__container-about--top-left button:hover,
.main__container-about--down-right button:hover {
  color: rgb(242, 237, 236);
  background-color: rgb(10, 133, 228);
  font-size: 16px;
  box-shadow: 10px 5px 5px 10, 133, 228;
}

/* BUTTONS CONTACT */
.contact__form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form button {
  margin: 15px;
  margin-left: 0;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 5px;
  border: #0844a4;
  font-family: Plus Jakarta Sans;
  color: #7f83b6;
  box-shadow: 5px 5px 5px rgb(208, 213, 249);
}

/* MEDIA QUERYS */
@media (min-width: 768px) {
  /* BUTTONS ABOUT */
  .main__container-about--top-left button {
    margin: 15px 50px;
    padding: 10px;
  }
  .main__container-about--down-right button {
    margin: 15px 50px;
    padding: 10px;
  }
  /* BUTTONS CONTACT */
  .contact__form-button {
    width: 100%;
    justify-content: start;
  }
}
@media (min-width: 992px) {
  /* BUTTONS ABOUT */
  .main__container-about--down-right button,
  .main__container-about--top-left button {
    width: 40%;
    margin: 20px 0px;
    padding: 10px;
  }
  /* BUTTONS CONTACT */
  .contact__form-button {
    justify-content: start;
  }
}
/* MAIN INDEX */
/* Contenedor padre */
.main {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.main__container {
  display: flex;
  flex-direction: column;
}

/* Contenedores hijos */
.main__container-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 10px;
}

.main__container-left-top h1 {
  font-size: 50px;
  font-weight: lighter;
  color: #0844a4;
  line-height: 1;
}

.main__container-left-top h2 {
  font-size: 40px;
  font-weight: lighter;
  color: #0844a4;
  line-height: 1;
}

.main__container-left-top p {
  margin: 15px 0;
  font-size: 20px;
  color: #0844a4;
}

.main__container-left-down {
  display: flex;
  align-content: flex-start;
}

.main__container-left-down ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main__container-left-down ul li {
  list-style: none;
  font-size: 16px;
  color: #0844a4;
  text-shadow: 1px 0px #9ab8e9;
}

.main__container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.main__container-right img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(181, 180, 180);
  object-fit: cover;
}

@media (min-width: 768px) {
  /* MAIN INDEX*/
  .main__container {
    display: flex;
    flex-direction: column;
  }
  .main__container-left {
    margin: 10px;
  }
  .main__container-left-down ul li {
    font-size: 20px;
  }
  .main__container-right {
    display: block;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  /* INDEX */
  .main__container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
  }
  .main__container-about--top-left h3,
  .main__container-about--top-left h2,
  .main__container-about--down-right h3 {
    font-size: 40px;
  }
  .main__container-about--top-left p,
  .main__container-about--down-right p {
    font-size: 18px;
  }
  .main__container-left {
    margin: 10px;
    width: 50%;
  }
  .main__container-left-down {
    display: flex;
    flex-direction: column;
  }
  .main__container-right {
    width: 50%;
  }
}
/* MAIN ABOUT */
.main {
  max-width: 1200px;
  margin: 0 auto;
}

.main__container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.main__container-about--top-left {
  margin-top: 0px;
}

.main__container-about--top-left h3,
.main__container-about--top-left h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #0844a4;
}

.main__container-about--top-left p {
  padding-top: 10px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  color: #0844a4;
  text-align: justify;
}

.main__container-about--top-right img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(181, 180, 180);
  object-fit: cover;
}

.main__container-about--down-left img {
  display: none;
}

.main__container-about--top-right,
.main__container-about--mobile {
  margin-top: 10px;
}

.main__container-about--mobile img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(181, 180, 180);
  object-fit: cover;
}

.main__container-about--down-right h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: lighter;
  color: #0844a4;
}

.main__container-about--down-right p {
  padding-top: 5px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  color: #0844a4;
  text-align: justify;
}

@media (min-width: 768px) {
  /* MAIN ABOUT */
  .main__container-about {
    display: flex;
    flex-direction: column;
  }
  .main__container-about--top-left {
    margin-top: 10px;
  }
  .main__container-about--top-left p,
  .main__container-about--down-right p {
    font-size: 20px;
    margin: 0;
  }
  .main__container-about--top-right img {
    width: 100%;
  }
  .main__container-about--down-left img {
    display: none;
  }
  .main__container-about--down-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }
  .main__container-about--top-left h3,
  .main__container-about--top-left h2 {
    font-size: 40px;
    margin: 10px 0px;
  }
  .main__container-about--mobile {
    display: grid;
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(181, 180, 180);
    object-fit: cover;
  }
}
@media (min-width: 992px) {
  /* ABOUT */
  .main__container-about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 10px;
    gap: 20px;
  }
  .main__advantages-container-dow {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    margin-top: 10px;
  }
  .main__container-about--top-right {
    margin-top: 0px;
  }
  .main__container-about--top-left h3,
  .main__container-about--top-left h2 {
    font-size: 40px;
  }
  .main__container-about--down-left img,
  .main__container-about--top-right img {
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(181, 180, 180);
    object-fit: cover;
  }
  .main__container-about--mobile {
    display: none;
  }
}
/* MAIN ADVANTAGES */
.main__advantages {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.main__advantages-container {
  display: flex;
  flex-direction: column;
}

.main__advantages-container-top {
  display: block;
  justify-content: start;
}

.main__advantages-container-top h1 {
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  font-weight: bold;
  color: #0844a4;
  box-shadow: 1px 5px 5px rgb(10, 133, 228);
  border-radius: 10px;
}

.main__advantages-container-dow {
  display: block;
  max-width: 1200px;
  margin-top: 0px;
}

.advantages-container-down {
  display: flex;
  flex-direction: row;
  margin: 10px;
  box-shadow: 5px 5px 5px rgb(208, 213, 249);
  border-radius: 10px;
}

.advantages-container-info h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #0844a4;
  margin: 10px;
  font-weight: bold;
}

.advantages-container-down img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  margin-top: 10px;
}

.advantages-container-down img:hover {
  padding: 5px;
  border-radius: 10px;
  filter: drop-shadow(1px 5px 1px rgba(0, 0, 0, 0.3));
}

.advantages-container-down p {
  color: #0844a4;
  margin: 5px 10px;
}

@media (min-width: 768px) {
  /* MAIN ADVANTAGES */
  .main__advantages-container-top h1 {
    font-size: 40px;
    padding: 5px 20px;
    margin: 10px;
    font-weight: lighter;
  }
  .main__advantages-container-dow {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(1, 2fr);
  }
  .advantages-container-info h2 {
    margin: 0 10px;
  }
  .advantages-container-down p {
    color: #0844a4;
    font-size: 16px;
  }
  .advantages-container-down img {
    width: 200px;
    height: 200px;
    margin-top: 0px;
    border-radius: 5px;
  }
}
@media (min-width: 992px) {
  /* MAIN ADVANTAGES */
  .main__advantages-container-top h1 {
    font-weight: lighter;
  }
  .advantages-container-info h2 {
    margin: 10px;
  }
}
/* MAIN SUBSCRIPTION */
.card {
  box-shadow: 6px 15px 13px 1px rgba(171, 182, 185, 0.3) !important;
}

.main__subscription-title {
  color: #0844a4;
  box-shadow: 1px 5px 5px rgb(10, 133, 228);
}

.contact::before {
  content: "«";
  color: #7f83b6;
}

.contact::after {
  content: "»";
  color: #7f83b6;
}

@media (min-width: 768px) {
  /* MAIN SUBSCRIPTION */
  .card .price:hover {
    color: #0844a4;
  }
  .alert a:hover {
    background-color: yellow;
    border-radius: 3px;
  }
}
/* MAIN CONTACT */
.main__contact {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
}

.title-contact {
  width: 100%;
}

.title-contact h1 {
  padding: 10px;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  color: #0844a4;
  border-radius: 10px;
  box-shadow: 1px 5px 5px rgb(10, 133, 228);
}

.general-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 5px;
}

.form-info {
  height: auto;
  text-align: justify;
}

.form-info p,
.info__form-details {
  font-size: 12px;
  text-align: justify;
  font-weight: lighter;
  color: #0844a4;
  margin-top: 5px;
  margin-bottom: 0px;
}

form label {
  color: #7f83b6;
  margin-bottom: 5px;
}

input[type=text],
input[type=email],
input[type=number] {
  padding-left: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
}

form input {
  width: 230px;
  border: solid 1px;
  border-color: #7f83b6;
  border-radius: 5px;
  color: #7f83b6;
}

input[type=checkbox] {
  width: 20px;
}

#name::placeholder {
  color: #7f83b6;
  padding: 5px 2px;
}

#email::placeholder {
  color: #7f83b6;
  padding: 5px 2px;
}

#number::placeholder {
  color: #7f83b6;
  padding: 5px 2px;
}

textarea {
  margin-top: 10px;
  padding-left: 5px;
  width: 100%;
  height: 100px;
  border: solid 1px;
  border-radius: 5px;
  border-color: #7f83b6;
  color: #7f83b6;
  box-shadow: 5px 5px 5px rgb(208, 213, 249);
}

textarea::placeholder {
  color: #7f83b6;
}

.contact-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
}

.contact-map h2 {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  font-size: 16px;
  font-weight: lighter;
  color: #0844a4;
}

.contact-map iframe {
  margin: 10px 0px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgb(208, 213, 249);
}

.main__contact-network {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
}

.main__contact-network h2 {
  margin: 10px;
}

.contact-network {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.main__contact-network img {
  margin: 0 5px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

@media (min-width: 768px) {
  /* MAIN CONTACT */
  .title-contact h1 {
    font-size: 30px;
  }
  .form-info p,
  .info__form-details {
    font-size: 16px;
  }
  .general-content {
    align-items: start;
    margin: 5px;
  }
  .contact-content {
    width: 100%;
  }
  .contact-content h2 {
    font-size: 30px;
  }
  input[type=text],
  input[type=email],
  input[type=number] {
    width: 100%;
    padding: 12px 5px;
  }
  .contact-map iframe {
    width: 100%;
  }
  .main__contact-network {
    justify-content: space-between;
  }
  .main__contact-network {
    width: 100%;
    margin: 10px 0px;
    align-items: center;
  }
}
/* MEDIA QUERY 992 */
@media (min-width: 992px) {
  /* MAIN CONTACT */
  .main__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-contact {
    width: 900px;
    margin: 10px;
  }
  .title-contact h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
  }
  .form-info p,
  .info__form-details {
    font-size: 16px;
  }
  .general-content {
    align-items: start;
    margin: 0px;
  }
  .contact-content {
    width: 900px;
  }
  input[type=text],
  input[type=email],
  input[type=number] {
    padding-left: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
    width: 900px;
  }
  textarea {
    width: 900px;
  }
  .contact-map iframe {
    width: 900px;
  }
}

/*# sourceMappingURL=styles.css.map */
