@import "utilities/variables";

@import "base/typo";

@import "layout/navigation";
@import "layout/header";
@import "layout/footer";
@import "layout/general";

@import "components/buttons";

@import "pages/home";
@import "pages/about";
@import "pages/advantages";
@import "pages/subscription";
@import "pages/contact";

/* Media Queries */

/* MAIN ABOUT */
.main__container-about {
  display: flex;
  flex-direction: column;
}
.main__container-about--top-left {
  margin-top: 10px;
}
.main__container-about--top-left p {
  font-size: 20px;
}

.main__container-about--top-right img {
  width: 100%;
}
.main__container-about--down-left img {
  display: none;
}
.main__container-about--down-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}
.main__container-about--mobile {
  display: grid;
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(181, 180, 180);
  object-fit: cover;
}

/* MAIN ADVANTAGES */

.main__advantages-container-top h1 {
  font-size: 40px;
  padding: 5px 20px;
  margin: 10px;
  font-weight: lighter;
}
.main__advantages-container-dow {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(1, 2fr);
}
.advantages-container-info h2 {
  margin: 0 10px;
}
.advantages-container-down p {
  color: #0844a4;
  font-size: 16px;
}

.advantages-container-down img {
  width: 200px;
  height: 200px;
  margin-top: 0px;
  border-radius: 5px;
}

/* MAIN SUBSCRIPTION */

.card .price:hover {
  color: #0844a4;
}
.alert a:hover {
  background-color: yellow;
  border-radius: 3px;
}

/* MAIN CONTACT */

.title-contact h1 {
  font-size: 30px;
}
.form-info p,
.info__form-details {
  font-size: 16px;
}
.general-content {
  align-items: start;
  margin: 5px;
}
.contact-content {
  width: 100%;
}
.contact-content h2 {
  font-size: 30px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 12px 5px;
}

.contact-map iframe {
  width: 100%;
}

.main__contact-network {
  justify-content: space-between;
}
.main__contact-network {
  width: 100%;
  margin: 10px 0px;
  align-items: center;
}

/* MEDIA QUERY 992 */
@media (min-width: 992px) {
  /* ABOUT */

  .main__container-about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 10px;
    gap: 20px;
  }

  .main__advantages-container-dow {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    margin-top: 10px;
  }

  .main__container-about--top-right {
    margin-top: 0px;
  }

  .main__container-about--down-left img,
  .main__container-about--top-right img {
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(181, 180, 180);
    object-fit: cover;
  }
  .main__container-about--mobile {
    display: none;
  }

  /* MAIN ADVANTAGES */

  .main__advantages-container-top h1 {
    font-weight: lighter;
  }
  .advantages-container-info h2 {
    margin: 10px;
  }
  /* MAIN CONTACT */

  .main__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-contact {
    width: 900px;
    margin: 10px;
  }
  .title-contact h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
  }
  .form-info p,
  .info__form-details {
    font-size: 16px;
  }
  .general-content {
    align-items: start;
    margin: 0px;
  }
  .contact-content {
    width: 900px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    padding-left: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
    width: 900px;
  }
  textarea {
    width: 900px;
  }
  .contact-map iframe {
    width: 900px;
  }
}
