/* GENERAL */
@font-face {
  font-family: Tabel;
  src: url(./assets/ttf/TebelSans-Regular.ttf) format("truetype");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Plus Jakarta Sans;
}
/* HEADER */
header {
  overflow: hidden;
}

header a {
  display: block;
  color: #f7f6f6;
  text-decoration: none;
  font-family: "Tabel";
  padding: 15px;
  width: 100%;
}

.logo {
  width: 150px;
  height: 100px;
  border-radius: 5px;
}

.slogan {
  float: right;
  width: 85%;
  height: 100px;
  background-color: #0844a4;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

.slogan h1 {
  text-transform: uppercase;
  position: relative;
  top: 30%;
}

nav {
  width: 100%;
  height: auto;
  padding: 0 50px;
}

nav ul {
  list-style: none;
  padding: 25px;
  background-color: #f7f6f6;
  text-align: center;
  border-radius: 5px;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
}

header nav ul li {
  margin: 0px 10px 0 10px;
  display: inline-block;
  width: 20%;
  height: auto;
}
header nav a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  color: #0844a4;
  align-items: center;
}

nav a:hover {
  color: gray;
}

/* MAIN INDEX */

main {
  position: relative;
}

main h1 {
  font-size: 50px;
  margin-left: 20px;
  font-weight: lighter;
  color: rgb(250, 128, 114);
}

main h2 {
  margin-bottom: 10px;
  font-size: 50px;
  margin-left: 20px;
  font-weight: lighter;
  color: rgb(250, 128, 114);
}
.content {
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  margin-left: 20px;
  color: #0844a4;
}

.info {
  font-family: Plus Jakarta Sans;
  font-size: 25px;
  color: #0844a4;
  text-shadow: 1px 1px #0844a4;
}

main .info,
.image-main {
  display: inline-block;
  margin: 10px;
}

div ul li {
  list-style: none;
  margin: 10px 5px 10px 10px;
}

.image-main {
  position: absolute;
  vertical-align: top;
  text-align: center;
}

aside {
  display: inline-block;
  position: relative;
  width: 35%;
}

.image-main img {
  width: 100%;
  height: auto;
}

/* FOOTER INDEX*/

footer {
  width: 100%;
  padding-left: 25px;
}

footer button,
.button-about {
  font-size: 15px;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  border: #a0e4cbcd;
  font-family: Plus Jakarta Sans;
  color: #0844a4;
}

footer button:hover {
  background-color: #a0e4cbcd;
  color: #f7f6f6;
}

/*HEADER ABOUT*/

.title {
  font-size: 50px;
  margin-left: 20px;
  font-weight: bold;
  color: #0844a4;
}
/* MAIN ABOUT */

.hello,
.experience {
  padding: 10px 5px;
  font-size: 25px;
  margin-left: 20px;
  font-weight: lighter;
  color: #0844a4;
}
.content-about {
  margin: 0px 20px;
  display: block;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  color: #0844a4;
}
.me-presentation {
  width: 50%;
  float: left;
  margin-left: 30px;
}

.picture-me img {
  width: 250px;
  border-radius: 5px;
  margin-left: 40px;
}
.me-presentation,
.picture-me {
  display: block;
}

.about-me {
  width: 50%;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}
.picture-about-me img {
  width: 250px;
  margin: 0px 450px;
}
.about-me,
.picture-about-me img {
  display: block;
}
.button-about {
  margin-left: 100px;
  margin-bottom: 10px;
}
button:hover {
  background-color: #a0e4cbcd;
  color: #f7f6f6;
}

/* MAIN ADVANTAGES */

/* MAIN SUSCRIPTIONS */

/* MAIN CONTACT */

/* FOOTER */ ;
