/* MAIN ABOUT */

.main {
  max-width: 1200px;
  margin: 0 auto;
}
.main__container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}
.main__container-about--top-left {
  margin-top: 0px;
}

.main__container-about--top-left h3,
.main__container-about--top-left h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #0844a4;
}
.main__container-about--top-left p {
  padding-top: 10px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  color: #0844a4;
  text-align: justify;
}

.main__container-about--top-right img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(181, 180, 180);
  object-fit: cover;
}

.main__container-about--down-left img {
  display: none;
}
.main__container-about--top-right,
.main__container-about--mobile {
  margin-top: 10px;
}
.main__container-about--mobile img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(181, 180, 180);
  object-fit: cover;
}
.main__container-about--down-right h3 {
  margin: 10px;
  font-size: 20px;
  font-weight: lighter;
  color: #0844a4;
}
.main__container-about--down-right p {
  margin: 10px;
  padding-top: 5px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  color: #0844a4;
  text-align: justify;
}
