/* MAIN ABOUT */

.main__about {
  max-width: 1200px;
  margin: 0 auto;
  .main__container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    .main__container-about--top-left {
      margin-top: 0px;
      & h2,
      & h3 {
        font-size: 20px;
        font-weight: lighter;
        color: #0844a4;
      }
      & p {
        padding-top: 10px;
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        color: #0844a4;
        text-align: justify;
      }
      & button {
        width: 80%;
        margin: 5px 25px;
        padding: 5px;
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        color: #f7f6f6;
        background-color: #0844a4;
        border: #0844a4;
        border-radius: 50px;
        box-shadow: 10px 5px 5px rgb(181, 180, 180);
      }
      & button:hover {
        color: rgb(242, 237, 236);
        background-color: rgb(10, 133, 228);
        font-size: 16px;
        box-shadow: 10px 5px 5px (10, 133, 228);
      }
    }
    .main__container-about--top-right {
      margin-top: 10px;
      & img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 10px 5px 5px rgb(181, 180, 180);
        object-fit: cover;
      }
    }
    .main__container-about--down-left {
      & img {
        display: none;
      }
    }
    .main__container-about--down-right {
      & h3 {
        margin-top: 10px;
        font-size: 20px;
        font-weight: lighter;
        color: #0844a4;
      }
      & p {
        padding-top: 5px;
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        color: #0844a4;
        text-align: justify;
      }
      & button {
        width: 80%;
        margin: 5px 25px;
        padding: 5px;
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        color: #f7f6f6;
        background-color: #0844a4;
        border: #0844a4;
        border-radius: 50px;
        box-shadow: 10px 5px 5px rgb(181, 180, 180);
      }
      & button:hover {
        color: rgb(242, 237, 236);
        background-color: rgb(10, 133, 228);
        font-size: 16px;
        box-shadow: 10px 5px 5px (10, 133, 228);
      }
    }
    .main__container-about--mobile {
      margin-top: 10px;
      & img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 10px 5px 5px rgb(181, 180, 180);
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 768px) {
  /* MAIN ABOUT */
  .main__about {
    .main__container-about {
      display: flex;
      flex-direction: column;
      .main__container-about--top-left {
        & h2,
        & h3 {
          font-size: 30px;
          margin: 10px 0px;
        }
        & p {
          font-size: 20px;
          margin: 0;
        }
        & button {
          margin: 15px 50px;
          padding: 10px;
        }
      }
      .main__container-about--top-right {
        & img {
          width: 100%;
        }
      }
      .main__container-about--down-left {
        & img {
          display: none;
        }
      }
      .main__container-about--down-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        & h3 {
          font-size: 30px;
          margin: 10px 0px;
        }
        & p {
          font-size: 20px;
          margin: 0;
        }
        & button {
          margin: 15px 50px;
          padding: 10px;
        }
      }
      .main__container-about--mobile {
        display: grid;
        width: 100%;
        border-radius: 20px;
        box-shadow: 10px 5px 5px rgb(181, 180, 180);
        object-fit: cover;
      }
    }
  }
}
@media (min-width: 992px) {
  /* ABOUT */
  .main__about {
    .main__container-about {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      margin-top: 10px;
      gap: 20px;
      .main__container-about--top-left {
        & h2,
        & h3 {
          font-size: 40px;
        }
        & button {
          width: 40%;
          margin: 20px 0px;
          padding: 10px;
        }
      }
      .main__container-about--top-right {
        margin-top: 0px;
        & img {
          display: grid;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          box-shadow: 10px 5px 5px rgb(181, 180, 180);
          object-fit: cover;
        }
      }
      .main__container-about--down-left {
        & img {
          display: grid;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          box-shadow: 10px 5px 5px rgb(181, 180, 180);
          object-fit: cover;
        }
      }
      .main__container-about--down-right {
        button {
          width: 40%;
          margin: 20px 0px;
          padding: 10px;
        }
      }
      .main__container-about--mobile {
        display: none;
      }
    }
  }
}
