.main {
  @extend .container;
  &__container-advantages {
    span {
      display: block;
      h1 {
        font-size: 20px;
        padding: 10px 20px;
        margin: 0 10px;
        font-weight: bold;
        color: $primaryColor;
        box-shadow: 1px 5px 5px rgb(10, 133, 228);
        border-radius: 10px;
      }
    }
    &-card {
      @include templateFlex(column, space-between, true);
      max-width: 1200px;
      margin: 20px 10px;
      &-container {
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 5px rgb(208, 213, 249);
        border-radius: 10px;
        margin-top: 10px;
        img {
          width: 100px;
          height: 100px;
          border-radius: 5px;
          object-fit: cover;
          margin-top: 10px;
        }
        img:hover {
          padding: 5px;
          border-radius: 10px;
          filter: drop-shadow(1px 5px 1px rgba(0, 0, 0, 0.3));
        }
        h2 {
          font-size: 20px;
          font-weight: lighter;
          color: $primaryColor;
          margin: 10px;
          font-weight: bold;
        }
        p {
          color: $primaryColor;
          margin: 5px 10px;
        }
      }
    }
  }
}

@media (min-width: $bpMedium) {
  .main {
    span {
      @include templateFlex(column, space-between, true);
      margin: 0 10px;
      h1 {
        font-size: 40px;
        padding: 5px 20px;
        margin: 0px;
        font-weight: lighter;
        width: 100%;
      }
    }
    &__container-advantages {
      margin: 20px 10px;
      &-card {
        max-width: 1200px;
        margin: 0 10px;
        img {
          width: 200px;
          height: 200px;
          margin-top: 0;
        }
        &-info {
          h2 {
            margin: 0 10px;
          }
          p {
            color: $primaryColor;
            font-size: 16px;
          }
        }
        &-container {
          margin-top: 20px;
        }
      }
    }
  }
}

@media (min-width: $bpLarge) {
  .main {
    &__container-advantages {
      &-card {
        @include templateGrid(1, $bpLarge, 2);
        &-container {
          img {
            width: 150px;
            height: 150px;
            margin: 10px 0;
          }
          h2 {
            font-size: 30px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}
