/* MAIN ADVANTAGES */

.main__advantages {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.main__advantages-container {
  display: flex;
  flex-direction: column;
}
.main__advantages-container-top {
  display: block;
  justify-content: start;
}
.main__advantages-container-top h1 {
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  font-weight: bold;
  color: #0844a4;
  box-shadow: 1px 5px 5px rgb(10, 133, 228);
  border-radius: 10px;
}

.main__advantages-container-dow {
  display: block;
  max-width: 1200px;
  margin-top: 0px;
}
.advantages-container-down {
  display: flex;
  flex-direction: row;
  margin: 10px;
  box-shadow: 5px 5px 5px rgb(208, 213, 249);
  border-radius: 10px;
}
.advantages-container-info h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #0844a4;
  margin: 10px;
  font-weight: bold;
}
.advantages-container-down img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  margin-top: 10px;
}
.advantages-container-down img:hover {
  padding: 5px;
  border-radius: 10px;
  filter: drop-shadow(1px 5px 1px rgba(0, 0, 0, 0.3));
}
.advantages-container-down p {
  color: #0844a4;
  margin: 5px 10px;
}
@media (min-width: 768px) {
  /* MAIN ADVANTAGES */

  .main__advantages-container-top h1 {
    font-size: 40px;
    padding: 5px 20px;
    margin: 10px;
    font-weight: lighter;
  }
  .main__advantages-container-dow {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(1, 2fr);
  }
  .advantages-container-info h2 {
    margin: 0 10px;
  }
  .advantages-container-down p {
    color: #0844a4;
    font-size: 16px;
  }

  .advantages-container-down img {
    width: 200px;
    height: 200px;
    margin-top: 0px;
    border-radius: 5px;
  }
}
@media (min-width: 992px) {
  /* MAIN ADVANTAGES */

  .main__advantages-container-top h1 {
    font-weight: lighter;
  }
  .advantages-container-info h2 {
    margin: 10px;
  }
}
