/* MAIN INDEX */

/* Contenedor padre */
.main__index {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;

  .main__container {
    display: flex;
    flex-direction: column;
    .main__container-left {
      display: flex;
      flex-direction: column;
      justify-content: start;
      margin: 10px;
      .main__container-left-top {
        & h1 {
          font-size: 50px;
          font-weight: lighter;
          color: #0844a4;
          line-height: 1;
        }
        & h2 {
          font-size: 40px;
          font-weight: lighter;
          color: #0844a4;
          line-height: 1;
        }
        & p {
          margin: 15px 0;
          font-size: 20px;
          color: #0844a4;
        }
      }
      .main__container-left-down {
        display: flex;
        align-content: flex-start;
        & ul {
          list-style: none;
          margin: 0;
          padding: 0;
          & li {
            list-style: none;
            font-size: 16px;
            color: #0844a4;
            text-shadow: 1px 0px #9ab8e9;
          }
        }
      }
    }
    .main__container-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px;
      & img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 10px 5px 5px rgb(181, 180, 180);
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 768px) {
  /* MAIN INDEX*/
  .main__index {
    .main__container {
      display: flex;
      flex-direction: column;
      .main__container-left {
        margin: 10px;
        .main__container-left-down {
          & ul {
            & li {
              font-size: 20px;
            }
          }
        }
      }
      .main__container-right {
        display: block;
      }
    }
  }
}

@media (min-width: 992px) {
  /* INDEX */
  .main__index {
    .main__container {
      display: flex;
      flex-direction: row;
      max-width: 1200px;
      .main__container-left {
        margin: 10px;
        width: 50%;
        .main__container-left-down {
          display: flex;
          flex-direction: column;
          & ul {
            & li {
              font-size: 20px;
            }
          }
        }
      }
      .main__container-right {
        width: 50%;
      }
    }
  }
}
