/* breakpoints */

$bpMedium: 768px;
$bpLarge: 992px;

/* font colors */
$primaryColor: #0844a4;

$socialIcons: (
  whatsapp: #25d366,
  linkedin: #0a66c2,
  twitter: #1da1f2,
  facebook: #3b5998,
  instagram: #c13584,
  youtube: #ff0000,
);
