/* FOOTER INDEX*/

footer {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 12px;
}
.footer__index small {
  color: #0844a4;
}
/*FOOTER ABOUT */
.footer__about {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 20px;
}
.footer__container-about small {
  color: #0844a4;
  padding: 10px;
  font-size: 11px;
}
/*FOOTER ADVANTAGES */

.footer__advantages {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 20px;
}

.footer__container-advantages small {
  color: #0844a4;
  padding: 10px;
  font-size: 11px;
}
/* FOOTER SUBSCRIPTION */

.subscription__footer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: #0844a4;
}

.subscription__footer small {
  font-size: 11px;
}
/* FOOTER CONTACT */

.contact__footer {
  display: flex;
  justify-content: center;
  font-size: 11px;
  color: #0844a4;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  /* FOOTER INDEX*/
  .footer__index {
    flex-direction: row;
    justify-content: space-around;
  }
  /* FOOTER ABOUT */
  .footer__about {
    justify-content: center;
    margin-top: 10px;
  }
  .footer__container-about small {
    font-size: 12px;
  }
  /* FOOTER ADVANTAGES */

  .footer__advantages {
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer__container-advantages small {
    font-size: 12px;
  } /* FOOTER SUBSCRIPTION */

  .subscription__footer {
    max-width: 1200px;
    justify-content: center;
    height: 50px;
    margin-bottom: 0px;
  }
  .subscription__footer small {
    font-size: 12px;
  } /* FOOTER CONTACT */
  .contact__footer {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  /* FOOTER INDEX */
  .footer__index {
    max-width: 1200px;
    justify-content: space-between;
  }
  .footer__index small {
    padding-right: 10px;
  }
  /* FOOTER CONTACT */
  .contact__footer {
    font-size: 12px;
  }
}
