/* BUTTONS INDEX*/

.buton__container-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buton__container-index button:hover {
  color: rgb(242, 237, 236);
  font-size: 16px;
  background-color: rgb(10, 133, 228);
}

.buton__container-index button {
  font-size: 16px;
  margin: 5px 5px;
  padding: 15px;
  border: #a0e4cbcd;
  font-family: Plus Jakarta Sans;
  color: #f7f6f6;
  background-color: #0844a4;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(181, 180, 180);
}

/* BUTTONS CONTACT */

.contact__form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form button {
  margin: 15px;
  margin-left: 0;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 5px;
  border: #0844a4;
  font-family: Plus Jakarta Sans;
  color: #7f83b6;
  box-shadow: 5px 5px 5px rgb(208, 213, 249);
}
/* MEDIA QUERYS */

@media (min-width: 768px) {
  /* BUTTONS CONTACT */
  .contact__form-button {
    width: 100%;
    justify-content: start;
  }
}

@media (min-width: 992px) {
  /* BUTTONS CONTACT */

  .contact__form-button {
    justify-content: start;
  }
}
