/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Tabel;
  src: url(../assets/ttf/TebelSans-Regular.ttf) format("truetype");
  font-weight: normal;
}

body {
  font-family: Plus Jakarta Sans;
}
a {
  text-decoration: none;
  color: #f7f6f6;
}
ul {
  list-style-type: none;
}
p {
  line-height: 1.5;
}

/* HEADER */

.header {
  position: sticky;
  background: linear-gradient(90deg, rgb(5, 60, 149) 42%, rgb(71, 129, 230) 71%);
}

.header__container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.header__container-left {
  margin-left: 10px;
}
.header__container-logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: -5px 0px rgb(6, 94, 162);
  object-fit: cover;
  filter: drop-shadow(1px 1px 4px #56a5c9);
}

.header__container-right {
  display: flex;
  flex-direction: column;
}

.header__container-right h1 {
  display: none;
}

.header__container-right .header__container-navbar {
  display: none;
}
.bg-body-tertiary {
  --bs-bg-opacity: 0;
}
.navbar-brand {
  color: white;
  margin-left: auto;
  font-size: 15px;
  margin-bottom: 0;
  font-family: Plus Jakarta Sans;
  text-transform: uppercase;
  color: #f7f6f6;
  filter: drop-shadow(1px 2px 5px #101939);
}
.navbar-brand:hover {
  color: white;
}
.navbar-toggler {
  background-color: rgb(248, 244, 244);
  border-color: white;
  margin-left: 20px;
  padding: 5px;
}
.navbar-toggler-icon {
  width: 1em;
}
.nav-link {
  color: white;
}
.navbar-nav .nav-link.active {
  color: orange;
  text-decoration: underline;
}

.header__container-navbar-mobile {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.bi {
  color: #fff;
  background-color: #0844a4;
  border-radius: 5px;
  padding: 5px;
}

/* MAIN INDEX */

/* Contenedor padre */
.main {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.main__container {
  display: flex;
  flex-direction: column;
}

/* Contenedores hijos */
.main__container-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 10px 15px;
}

.main__container-left-top h1 {
  font-size: 50px;
  font-weight: lighter;
  color: #0844a4;
  line-height: 1;
}

.main__container-left-top h2 {
  font-size: 40px;
  font-weight: lighter;
  color: #0844a4;
  line-height: 1;
}
.main__container-left-top p {
  margin-top: 30px;
  font-size: 20px;
  color: #0844a4;
}
.main__container-left-down {
  display: flex;
  align-content: flex-start;
}
.main__container-left-down ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main__container-left-down ul li {
  list-style: none;
  font-size: 16px;
  color: #0844a4;
  text-shadow: 1px 0px #9ab8e9;
}
.main__container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main__container-right img {
  max-width: 100%;
  border-radius: 15px;
  padding: 10px;
}
/* FOOTER INDEX*/

.footer {
  max-width: 1200px;
  margin: 0 auto;
}
.footer__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
}

.footer__container-left {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}
.footer__container-left button:hover {
  color: rgb(242, 237, 236);
  font-size: 16px;
  background-color: rgb(10, 133, 228);
}

.footer__container-left button {
  font-size: 16px;
  margin: 5px 5px;
  padding: 15px;
  border: #a0e4cbcd;
  font-family: Plus Jakarta Sans;
  color: #f7f6f6;
  background-color: #0844a4;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(181, 180, 180);
}

.footer__container-right {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  font-size: 12px;
  margin: 10px;
}
.footer__container-right small {
  color: #0844a4;
}

/* MAIN ABOUT */

.main {
  max-width: 1200px;
  margin: 0 auto;
}
.main__container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 5px 20px;
}
.main__container-about--top-left {
  margin-top: 0px;
}

.main__container-about--top-left h3,
h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #0844a4;
}
.main__container-about--top-left p {
  padding-top: 10px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  color: #0844a4;
}

.main__container-about--top-left button {
  width: 80%;
  margin: 5px 25px;
  padding: 5px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  color: #f7f6f6;
  background-color: #0844a4;
  border: #0844a4;
  border-radius: 50px;
  box-shadow: 10px 5px 5px rgb(181, 180, 180);
}

.main__container-about--top-left button:hover {
  color: rgb(242, 237, 236);
  background-color: rgb(10, 133, 228);
  font-size: 16px;
  box-shadow: 10px 5px 5px (10, 133, 228);
}

.main__container-about--top-right img {
  width: 100%;
  border-radius: 20px;
  margin-top: 5px;
  box-shadow: 10px 5px 5px rgb(181, 180, 180);
  object-fit: cover;
}

.main__container-about--down-left img {
  display: none;
}

.main__container-about--mobile img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(181, 180, 180);
  object-fit: cover;
}
.main__container-about--down-right h3 {
  margin: 10px;
  font-size: 20px;
  font-weight: lighter;
  color: #0844a4;
}
.main__container-about--down-right p {
  margin: 10px;
  padding-top: 5px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  color: #0844a4;
}

.main__container-about--down-right button {
  width: 80%;
  margin: 5px 25px;
  padding: 5px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  color: #f7f6f6;
  background-color: #0844a4;
  border: #a0e4cbcd;
  border-radius: 50px;
  box-shadow: 10px 5px 5px rgb(181, 180, 180);
}
.main__container-about--down-right button:hover {
  color: rgb(242, 237, 236);
  background-color: rgb(10, 133, 228);
  font-size: 16px;
  box-shadow: 10px 5px 5px rgb(181, 180, 180);
}

/*FOOTER ABOUT */
.footer__about {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 20px;
}
.footer__container-about small {
  color: #0844a4;
  padding: 10px;
  font-size: 11px;
}

/* MAIN ADVANTAGES */

.main__advantages {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.main__advantages-container {
  display: flex;
  flex-direction: column;
}
.main__advantages-container-top {
  display: block;
  justify-content: start;
}
.main__advantages-container-top h1 {
  font-size: 20px;
  padding: 5px 20px;
  margin: 15px;
  font-weight: bold;
  color: #0844a4;
  box-shadow: 1px 5px 5px rgb(10, 133, 228);
  border-radius: 10px;
}

.main__advantages-container-dow {
  display: block;
  max-width: 1200px;
  margin-top: 0px;
}
.advantages-container-down {
  display: flex;
  flex-direction: row;
  margin: 15px;
  box-shadow: 5px 5px 5px rgb(208, 213, 249);
  border-radius: 10px;
}
.advantages-container-down img {
  width: 80px;
  height: 80px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  margin-top: 10px;
}
.advantages-container-down img:hover {
  padding: 5px;
  border-radius: 10%;
  filter: drop-shadow(1px 5px 1px #a38080);
}
.advantages-container-down p {
  color: #0844a4;
  margin: 5px 10px;
}
/*FOOTER ADVANTAGES */

.footer__advantages {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 20px;
}

.footer__container-advantages small {
  color: #0844a4;
  padding: 10px;
  font-size: 11px;
}

/* MAIN SUBSCRIPTION */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  box-shadow: 6px 15px 13px 1px rgba(171, 182, 185, 0.3) !important;
}
.main__subscription-title {
  color: #0844a4;
  box-shadow: 1px 5px 5px rgb(10, 133, 228);
}
.row {
  margin: 0;
}
.contact::before {
  content: "«";
  color: #7f83b6;
}
.contact::after {
  content: "»";
  color: #7f83b6;
}

.subscription__footer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: #0844a4;
}

.subscription__footer small {
  font-size: 11px;
}
/* MAIN CONTACT */

.general-content {
  width: 100%;
  height: auto;
}
.title-contact {
  font-size: 50px;
  margin: 20px;
  font-weight: bold;
  color: #0844a4;
}
.contact-line {
  color: #0844a4;
  width: 20%;
}

.contact-content {
  float: left;
  width: 45%;
  height: auto;
  margin-left: 20px;
}

.form-info {
  width: 40%;
  display: inline-block;
  height: auto;
}
.form {
  margin-left: 40px;
  width: 40%;
  display: inline-block;
  height: auto;
  vertical-align: top;
}
form input {
  text-align: left;
  float: right;
  margin-top: 5px;
  border-color: #7f83b6;
  border-style: double;
}

label {
  display: block;
  margin-top: 5px;
  float: left;
  font-family: tabel;
  color: #7f83b6;
  font-size: 15px;
}

textarea {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  border-color: #7f83b6;
}
textarea::placeholder {
  position: absolute;
  padding: 5px 5px;
  text-align: left;
  color: #7f83b6;
}
.form button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 20px;
  font-size: 15px;
  border-radius: 5px;
  border: #a0e4cbcd;
  font-family: Plus Jakarta Sans;
  color: #0844a4;
}

.form-info p {
  text-align: justify;
  margin: 10px 20px;
  font-weight: lighter;
  color: #0844a4;
}

.contact-map {
  float: right;
  width: 50%;
  height: auto;
  margin-right: 3%;
}
.contact-map h2 {
  font-size: 25px;
  margin-left: 0px;
  font-weight: lighter;
  color: rgb(250, 128, 114);
}
.contact-map iframe {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

/* FOOTER */

.contact-footer {
  margin: 20% 0 0 45%;
}
.contact-footer a {
  float: left;
}
.contact-footer img {
  margin: 0 5px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Media Queries */

@media (min-width: 375px) {
}
@media (min-width: 768px) {
  /* header index */

  .header__container {
    justify-content: space-between;
  }

  .header__container-logo img {
    width: 100px;
    height: 100px;
  }
  .header__container-right {
    justify-content: end;
  }
  .header__container-right h1 {
    display: block;
    font-size: 40px;
    padding-left: 40px;
    margin-bottom: 0;
    font-family: Plus Jakarta Sans;
    text-transform: uppercase;
    color: #f7f6f6;
    filter: drop-shadow(1px 2px 5px #101939);
  }
  .header__container-right .header__container-navbar {
    display: flex;
    margin: 10px auto;
    text-transform: uppercase;
    flex-wrap: nowrap;
  }

  .header__container-right .header__container-navbar ul {
    display: flex;
  }

  .header__container-right .header__container-navbar li a {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: #f7f6f6;
  }
  .header__container-right li {
    margin-right: 10px;
  }

  .header__container-right .header__container-navbar ul li a:hover,
  .header__container-right .header__container-navbar ul li a:active {
    color: orange;
    background-color: #0844a4;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }
  /* MAIN INDEX*/
  .main__container {
    display: flex;
    flex-direction: row;
  }
  .main__container-left-top p {
    margin-top: 40px;
  }
  .main__container-left-down ul li {
    font-size: 20px;
  }

  .main__container-right img {
    display: inline;
    width: 600px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 10px 5px 5px rgb(181, 180, 180);
    object-fit: cover;
    padding: 0px;
  }

  .header__container-navbar-mobile {
    display: none;
  }
  /* FOOTER INDEX*/
  .footer__container {
    flex-direction: row;
    margin-top: 50px;
  }
  .footer__container-right {
    font-size: 14px;
    justify-content: end;
  }
  /* MAIN ABOUT */
  .main__container-about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 10px;
    margin: 0;
    gap: 20px;
  }
  .main__container-about--top-left {
    margin-top: 25px;
  }
  .main__container-about--top-left p {
    padding-top: 20px;
  }
  .main__container-about--top-left button {
    width: 30%;
    margin: 15px 0;
    padding: 10px;
  }
  .main__container-about--top-right img {
    width: 450px;
  }
  .main__container-about--down-left img {
    display: grid;
    width: 450px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(181, 180, 180);
    object-fit: cover;
  }
  .main__container-about--down-right button {
    width: 30%;
    margin: 15px 10px;
    padding: 10px;
  }
  .main__container-about--mobile {
    display: none;
  }
  /* FOOTER ABOUT */
  .footer__about {
    justify-content: end;
    margin-top: 10px;
  }
  .footer__container-about small {
    font-size: 12px;
  }
  /* MAIN ADVANTAGES */
  .main__advantages-container-top {
    display: flex;
    margin-bottom: 15px;
  }
  .main__advantages-container-top h1 {
    width: 500px;
    font-size: 40px;
  }
  .main__advantages-container-dow {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    margin-top: 10px;
  }
  .advantages-container-down p {
    color: #0844a4;
    margin: 10px 20px;
    font-size: 16px;
  }
  .advantages-container-down img {
    width: 150px;
    height: 150px;
    margin-top: 0px;
  }
  /* FOOTER ADVANTAGES */

  .footer__advantages {
    justify-content: end;
    height: 50px;
    margin-bottom: 0px;
  }
  .footer__container-advantages small {
    font-size: 12px;
  }
  /* MAIN SUBSCRIPTION */

  /* .main__subscription-title {
    font-size: 40px;
    margin: 10px 10px;
    width: 500px;
    margin: 15px;
  } */
  .card .price:hover {
    color: #0844a4;
  }
  .alert a:hover {
    background-color: yellow;
    border-radius: 3px;
  }

  /* FOOTER SUBSCRIPTION */

  .subscription__footer {
    max-width: 1200px;
    justify-content: center;
    height: 50px;
    margin-bottom: 0px;
  }
  .subscription__footer small {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
}
